<div class="page-content">
    <div class="d-flex justify-content-between align-items-center flex-wrap grid-margin"
         style="margin-right: 1rem">
        <div>
            <h4 class="mb-3 mb-md-0" style="font-weight: 700">
                Hotel Reservations
            </h4>
        </div>
        <div class="d-flex align-items-center flex-wrap text-nowrap">
            <p class="time-calendar">Today, 10th September 2020</p>
        </div>
    </div>

    <div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
        <div class="col-6">
            <div class="form">
                <i class="fa fa-search"></i>
                <input type="text"
                       class="form-control form-input"
                       placeholder="Search" />
            </div>
        </div>

        <div class="d-flex align-items-center flex-wrap text-nowrap">
            <div class="input-group flatpickr wd-200 me-2 mb-2 mb-md-0"
                 id="dashboardDate">
                <input type="text"
                       class="form-control bg-transparent"
                       placeholder="10.01.2022"
                       data-input />
                <span class="input-group-text input-group-addon bg-transparent"
                      data-toggle>
                    <i data-feather="calendar" class="text-secondary"></i>
                </span>
            </div>
            <div class="input-group flatpickr wd-200 me-2 mb-2 mb-md-0"
                 id="dashboardDate">
                <input type="text"
                       class="form-control bg-transparent"
                       placeholder="15.01.2022"
                       data-input />
                <span class="input-group-text input-group-addon bg-transparent"
                      data-toggle>
                    <i data-feather="calendar" class="text-secondary"></i>
                </span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-xl-12 grid-margin grid-margin-xl-0 stretch-card">
            <div class="card">
                <div class="card-body"
                     style="display: flex; flex-direction: column; gap: 1rem">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Name, Surname</th>
                                <th scope="col">Phone Number</th>
                                <th scope="col">Email adress</th>
                                <th scope="col">Entry Date</th>
                                <th scope="col">Exit Date</th>
                                <th scope="col">Checkbox</th>
                            </tr>
                        </thead>
                        <tbody style="font-weight: 500">
                            <tr>
                                <th scope="row">01</th>
                                <td>Saadat Abilova</td>
                                <td>+994 70 582 68 28</td>
                                <td>tagiyevasadt@gmail.com</td>
                                <td>10.01.2022</td>
                                <td>20.10.2022</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">02</th>
                                <td>Elnur Ibrahimov</td>
                                <td>+994 70 582 68 28</td>
                                <td>tagiyevasadt@gmail.com</td>
                                <td>10.01.2022</td>
                                <td>20.10.2022</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">03</th>
                                <td>Nazim Hamidli</td>
                                <td>+994 70 582 68 28</td>
                                <td>tagiyevasadt@gmail.com</td>
                                <td>10.01.2022</td>
                                <td>20.10.2022</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">04</th>
                                <td>Farid Davudov</td>
                                <td>+994 70 582 68 28</td>
                                <td>tagiyevasadt@gmail.com</td>
                                <td>10.01.2022</td>
                                <td>20.10.2022</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">05</th>
                                <td>Araz Davudov</td>
                                <td>+994 70 582 68 28</td>
                                <td>tagiyevasadt@gmail.com</td>
                                <td>10.01.2022</td>
                                <td>20.10.2022</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">06</th>
                                <td>Rovsen Ibrahimov</td>
                                <td>+994 70 582 68 28</td>
                                <td>tagiyevasadt@gmail.com</td>
                                <td>10.01.2022</td>
                                <td>20.10.2022</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">07</th>
                                <td>Aysel Abilova</td>
                                <td>+994 70 582 68 28</td>
                                <td>tagiyevasadt@gmail.com</td>
                                <td>10.01.2022</td>
                                <td>20.10.2022</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">01</th>
                                <td>Ibrahim Aliyev</td>
                                <td>+994 70 582 68 28</td>
                                <td>tagiyevasadt@gmail.com</td>
                                <td>10.01.2022</td>
                                <td>20.10.2022</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>