<div class="page-content">
    <div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
        <div>
            <h4 class="mb-3 mb-md-0">
                Menu
            </h4>
            <p class="time-calendar">Today, 10th September 2020</p>
        </div>

        <select id="language-select">
            <option value="az">AZE &#9662;</option>
            <option value="en">English &#9662;</option>
            <option value="fr">French &#9662;</option>
            <option value="es">Spanish &#9662;</option>
        </select>
    </div>


    <div class="flex-menu-admin">
        <div class="left-right-admin">
            <a href="#">Real Estate</a>
            <a href="#">Health & Fitness</a>
            <a asp-action="index" asp-controller="Entertainment">Entertainment</a>
        </div>

        <div class="left-right-admin">
            <a href="#">Beach Club</a>
            <a href="#">Hotels</a>
            <a href="#">Account Settings</a>
        </div>
    </div>

</div>
